@using DevExtreme.AspNet.Mvc;

<!DOCTYPE html>

<html>
<head>
    
    <title>ALINVEST</title>


    
</head>
 
<body>
    <div>
        <div>
            @RenderBody()
        </div>         
    </div>
    
</body>

</html>